# Gradle
.gradle/
build/
out/
*.iws
*.iml
*.ipr

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# MacOS
.DS_Store

# Grails
*.log
*.log.*
.slcache/
/.asscache

# Assets
.assetcache/

